.navbar{
  border: 1px solid;
  border-radius: 20px;
  background: linear-gradient(to right, yellow, red)
}
.logContainer{
  width: 95px;
  margin: 20px;
  text-align: center;
  color: gray;
}

.logname{
  display: flex;
  justify-content:left;
  margin: 20px;
}
.linkgroup{
  display:flex;
  justify-content: flex-end;
  margin: 15px;
}

.linkgroup > button{
  margin: 25px;
  padding: 5px;
}

.mobile {
  text-decoration: none;
}

.general{
  display:flex;
  justify-content: center;
}

.homecard{
  border: 1px solid black;
  border-radius: 20px;
  background: linear-gradient(to right, orange , yellow );
  padding: 1em;
  margin: 20px;
  width: 300px;
  text-align:center;
}

.text{
  text-align: center; 
}

.active{
  color: blue;
}

.content{
  display: flex;
  justify-content: center;
}

.close{
  text-align: center;
}
.active{
  text-decoration: none;
}

.overlay{
  border: 1px solid black;
  margin: 300px;
  border-radius: 6px;
  width: 200px;
  height: 90px;
  background-color: white;
  z-index: 2;
}

.modal{
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .9;
  background-color: grey;
  z-index: 1;
}